h1,
h2,
h3 {
    text-align: center;
    color: red;
    font-size: 4em;
}

.photos p {
    text-align: center;
    color: red;
    font-size: 2em;
}

.photos {
    display: flex;
    justify-content: space-around;
}

img {
    width: 21em;
}

@media (max-width: 820px) {
    .photos {
        flex-direction: column;
    }

    img {
        width: 51em;
    }
}

@media (max-width: 440px) {
    .photos {
        flex-direction: column;
    }

    h1,
    h2,
    h3 {
        font-size: 4em;
    }

    img {
        width: 35em;
    }
}