<div>
  <h1 class="warning">!!!VORSICHT!!!</h1>
  <h1 class="fraud-warning">!!!BETRÜGER!!!</h1>
  <h2>!!!Man bestellt neuer Anhänger, kriegt aber gebrauchte!!!</h2>
  <div class="photos">
    <div>
      <p>Beschädigter Boden</p>
      <img src="IMG_5248.JPEG" alt="">
    </div>
    <div>
      <p>Fehlende Schrauben</p>
      <img src="IMG_5252.JPEG" alt="">
    </div>
    <div>
      <p>Verbogene Teile</p>
      <img src="IMG_5259.JPEG" alt="">
    </div>
    <div>
      <p>Beschädigter Boden</p>
      <img src="IMG_5257.JPEG" alt="">
    </div>
    <div>
      <p>Verkratzte Teile</p>
      <img src="IMG_5258.JPEG" alt="">
    </div>
    
  </div>
  <h3 class="warning">!!!Finger weg von diesem Verkäufer!!!</h3>
  <h1 class="fraud-warning">!!!BETRÜGER!!!</h1>
</div>